<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="evaluationSOAPBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="metadataSOAPBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="querySOAPBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://client.hln.com/opencds-decision-support-service-1.0.0-SNAPSHOT/evaluate"
                binding="customBinding" bindingConfiguration="evaluationSOAPBinding"
                contract="OpenCds.Evaluation" name="evaluate" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
